<header class="navbar navbar-fixed-top navbar-default">
  <div class="container", id="container_ajax">
      <%= link_to "Demo project", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">

      </ul>
    </nav>
  </div>
</header>
